### 5.1

In [1]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()

    print(f"SQLite version: {version[0]}")

finally:
    
    connection.close()

SQLite version: 3.32.3

### Bài 5.2

In [2]:
import sqlite3
connection = sqlite3.connect(":memory:")

try:

    cursor = connection.cursor()
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()

    print(f"SQLite version: {version[0]}")

finally:
    connection.close()

SQLite version: 3.32.3

### Bài 5.3

In [3]:
import sqlite3
connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

finally:
    connection.close()

Table 'users' created successfully.

### Bài 5.4

In [4]:
import sqlite3

connection = sqlite3.connect("example.db")

try:

    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")

finally:
    connection.close()

Table 'users' created successfully.
Tables in the database:
- users
- sqlite_sequence

### Bài 5.5

In [5]:
import sqlite3
connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    users_data = [
        ("Alice", 30),
        ("Bob", 25),
        ("Charlie", 35)
    ]
    cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?);", users_data)
    connection.commit()
    print("Records inserted successfully.")

    cursor.execute("SELECT * FROM users;")
    rows = cursor.fetchall()

    print("Records in 'users' table:")
    for row in rows:
        print(row)

finally:
    connection.close()

Table 'users' created successfully.
Records inserted successfully.
Records in 'users' table:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)

### Bài 5.6

In [6]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    users_data = [
        ("Alice", 30),
        ("Bob", 25),
        ("Charlie", 35)
    ]
    cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?);", users_data)
    connection.commit()
    print("Records inserted successfully.")

    cursor.execute("SELECT COUNT(*) FROM users;")
    record_count = cursor.fetchone()[0]
    print(f"Total records in 'users' table: {record_count}")

finally:
    connection.close()

Table 'users' created successfully.
Records inserted successfully.
Total records in 'users' table: 6

### Bài 5.7

In [7]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    users_data = [
        ("Alice", 30),
        ("Bob", 25),
        ("Charlie", 35)
    ]
    cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?);", users_data)
    connection.commit()
    print("Records inserted successfully.")

    cursor.execute("SELECT COUNT(*) FROM users;")
    record_count = cursor.fetchone()[0]
    print(f"Total records in 'users' table: {record_count}")

    new_age = 40
    cursor.execute("UPDATE users SET age = ?;", (new_age,))
    connection.commit()
    print(f"All ages updated to {new_age} successfully.")

    cursor.execute("SELECT * FROM users;")
    updated_rows = cursor.fetchall()
    print("Updated records in 'users' table:")
    for row in updated_rows:
        print(row)

finally:

    connection.close()

Table 'users' created successfully.
Records inserted successfully.
Total records in 'users' table: 9
All ages updated to 40 successfully.
Updated records in 'users' table:
(1, 'Alice', 40)
(2, 'Bob', 40)
(3, 'Charlie', 40)
(4, 'Alice', 40)
(5, 'Bob', 40)
(6, 'Charlie', 40)
(7, 'Alice', 40)
(8, 'Bob', 40)
(9, 'Charlie', 40)

### Bài 5.8

In [8]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    
    user_id_to_delete = 2

    cursor.execute("DELETE FROM users WHERE id = ?;", (user_id_to_delete,))


    connection.commit()

    if cursor.rowcount > 0:
        print(f"Đã xóa người dùng có id = {user_id_to_delete}.")
    else:
        print(f"Không tìm thấy người dùng có id = {user_id_to_delete}.")

    cursor.execute("SELECT * FROM users;")
    updated_rows = cursor.fetchall()

    print("Các bản ghi còn lại trong bảng 'users':")
    for row in updated_rows:
        print(row)

finally:
    connection.close()

Đã xóa người dùng có id = 2.
Các bản ghi còn lại trong bảng 'users':
(1, 'Alice', 40)
(3, 'Charlie', 40)
(4, 'Alice', 40)
(5, 'Bob', 40)
(6, 'Charlie', 40)
(7, 'Alice', 40)
(8, 'Bob', 40)
(9, 'Charlie', 40)

### Bài 5.9

In [ ]:
import pandas as pd

df = pd.read_csv('region.csv')

print(df)

### Bài 5.10

In [ ]:
import sqlite3

connection = sqlite3.connect('product.db')
cursor = connection.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS product (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        price REAL NOT NULL,
        amount INTEGER NOT NULL
    );
""")
connection.commit()

def display_products():
    cursor.execute("SELECT * FROM product;")
    products = cursor.fetchall()
    print("Danh sách sản phẩm:")
    for product in products:
        print(f"ID: {product[0]}, Name: {product[1]}, Price: {product[2]}, Amount: {product[3]}")

def add_product(name, price, amount):
    cursor.execute("INSERT INTO product (name, price, amount) VALUES (?, ?, ?);", (name, price, amount))
    connection.commit()
    print(f"Sản phẩm '{name}' đã được thêm vào!")

def search_product(name):
    cursor.execute("SELECT * FROM product WHERE name LIKE ?;", ('%' + name + '%',))
    products = cursor.fetchall()
    if products:
        print("Kết quả tìm kiếm:")
        for product in products:
            print(f"ID: {product[0]}, Name: {product[1]}, Price: {product[2]}, Amount: {product[3]}")
    else:
        print("Không tìm thấy sản phẩm với tên này.")

def update_product(id, price, amount):
    cursor.execute("UPDATE product SET price = ?, amount = ? WHERE id = ?;", (price, amount, id))
    connection.commit()
    print(f"Sản phẩm có ID {id} đã được cập nhật.")

def delete_product(id):
    cursor.execute("DELETE FROM product WHERE id = ?;", (id,))
    connection.commit()
    print(f"Sản phẩm có ID {id} đã bị xóa.")

def menu():
    while True:
        print("\n--- Quản lý sản phẩm ---")
        print("1. Hiển thị danh sách sản phẩm")
        print("2. Thêm sản phẩm")
        print("3. Tìm kiếm sản phẩm theo tên")
        print("4. Cập nhật sản phẩm theo ID")
        print("5. Xóa sản phẩm theo ID")
        print("6. Thoát")
        choice = input("Chọn chức năng (1-6): ")

        if choice == '1':
            display_products()
        elif choice == '2':
            name = input("Nhập tên sản phẩm: ")
            price = float(input("Nhập giá sản phẩm: "))
            amount = int(input("Nhập số lượng sản phẩm: "))
            add_product(name, price, amount)
        elif choice == '3':
            name = input("Nhập tên sản phẩm để tìm kiếm: ")
            search_product(name)
        elif choice == '4':
            id = int(input("Nhập ID sản phẩm cần cập nhật: "))
            price = float(input("Nhập giá mới của sản phẩm: "))
            amount = int(input("Nhập số lượng mới của sản phẩm: "))
            update_product(id, price, amount)
        elif choice == '5':
            id = int(input("Nhập ID sản phẩm cần xóa: "))
            delete_product(id)
        elif choice == '6':
            print("Thoát chương trình.")
            break
        else:
            print("Lựa chọn không hợp lệ. Vui lòng chọn lại.")

menu()
connection.close()

### Bài 5.11

In [ ]:
import sqlite3

connection = sqlite3.connect('ql_nhan_vien.db')
cursor = connection.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS PHONG (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        price REAL NOT NULL,
        amount INTEGER NOT NULL
    );
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS NHAN_VIEN (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ho_ten TEXT NOT NULL,
        tuoi INTEGER NOT NULL,
        dia_chi TEXT NOT NULL,
        luong REAL NOT NULL,
        id_phong INTEGER,
        FOREIGN KEY (id_phong) REFERENCES PHONG(id)
    );
""")

connection.commit()

print("Cơ sở dữ liệu và bảng đã được tạo thành công.")

def add_phong(name, price, amount):
    cursor.execute("INSERT INTO PHONG (name, price, amount) VALUES (?, ?, ?);", (name, price, amount))
    connection.commit()
    print(f"Phòng ban '{name}' đã được thêm vào!")

def add_nhan_vien(ho_ten, tuoi, dia_chi, luong, id_phong):
    cursor.execute("INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, id_phong) VALUES (?, ?, ?, ?, ?);", 
                   (ho_ten, tuoi, dia_chi, luong, id_phong))
    connection.commit()
    print(f"Nhân viên '{ho_ten}' đã được thêm vào phòng {id_phong}!")


def display_phong():
    cursor.execute("SELECT * FROM PHONG;")
    rooms = cursor.fetchall()
    print("Danh sách phòng ban:")
    for room in rooms:
        print(f"ID: {room[0]}, Name: {room[1]}, Price: {room[2]}, Amount: {room[3]}")

def display_nhan_vien():
    cursor.execute("""
        SELECT NHAN_VIEN.id, NHAN_VIEN.ho_ten, NHAN_VIEN.tuoi, NHAN_VIEN.dia_chi, NHAN_VIEN.luong, PHONG.name
        FROM NHAN_VIEN
        JOIN PHONG ON NHAN_VIEN.id_phong = PHONG.id;
    """)
    employees = cursor.fetchall()
    print("Danh sách nhân viên:")
    for emp in employees:
        print(f"ID: {emp[0]}, Name: {emp[1]}, Age: {emp[2]}, Address: {emp[3]}, Salary: {emp[4]}, Department: {emp[5]}")

def menu():
    while True:
        print("\n--- Quản lý nhân viên ---")
        print("1. Hiển thị danh sách phòng ban")
        print("2. Thêm phòng ban")
        print("3. Thêm nhân viên")
        print("4. Hiển thị danh sách nhân viên")
        print("5. Thoát")
        choice = input("Chọn chức năng (1-5): ")

        if choice == '1':
            display_phong()
        elif choice == '2':
            name = input("Nhập tên phòng ban: ")
            price = float(input("Nhập giá trị phòng ban: "))
            amount = int(input("Nhập số lượng nhân viên: "))
            add_phong(name, price, amount)
        elif choice == '3':
            ho_ten = input("Nhập họ tên nhân viên: ")
            tuoi = int(input("Nhập tuổi nhân viên: "))
            dia_chi = input("Nhập địa chỉ nhân viên: ")
            luong = float(input("Nhập lương nhân viên: "))
            id_phong = int(input("Nhập ID phòng ban nhân viên thuộc về: "))
            add_nhan_vien(ho_ten, tuoi, dia_chi, luong, id_phong)
        elif choice == '4':
            display_nhan_vien()
        elif choice == '5':
            print("Thoát chương trình.")
            break
        else:
            print("Lựa chọn không hợp lệ. Vui lòng chọn lại.")

menu()
connection.close()